<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini-notes-app</title>
</head>
<body>
    <h1>Welcome to Notes App</h1>
    
    <ul>
        <% notes.forEach(note => { %>

            <li><%= note.text %></li>

            <form method="POST" action="/edit/<%= note._id %>">
                <button type="submit">Edit</button>
            </form>

            <form method="POST" action="/delete/<%= note._id %>">
                <button type="submit">Delete</button>
            </form>

        <% }); %>
    </ul>

    <form method="GET" action="/new">
        <button>Add New Note</button>
    </form>

</body>
</html>

