<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini-notes-app</title>
</head>
<body>
    <h1>Welcome to Notes App</h1>
    
    <ul>
        <% notes.forEach(note => { %>
            <li><%= note  %></li>
        <% }); %>
    </ul>

    <a href="/new">Add New Note</a>


    <p>This is my Day-5 with EJS</p>
</body>
</html>

